


{% if perms.proyecto.view_casoprueba %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Administrar casos de prueba</h3>
        <div class="card-tools">
            {% if perms.proyecto.add_casoprueba %}
            <a href="{% url 'proyecto:casoprueba_crear' proyecto.id %}" class="btn btn-primary">
                <i class="fas fa-users"></i> Nuevo
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label>Activo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <select id="filtro_caso_activo" class="form-control form-control-sm" style="width: 200px">
                        <option value="">--Todos--</option>
                        <option value="True">SI</option>
                        <option value="False">NO</option>
                    </select>
                </div>
            </div>
        </div>
        <table id="dt-casos" class="table" data-id="{{ proyecto.id }}"
               data-url="{% url 'proyecto:casoprueba_lista' proyecto.id %}"
               data-url_detalle="{% url 'proyecto:casoprueba_editar' 0 %}"
        >
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endif %}