{% extends 'edit_layout.html' %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block titulo %}
    Nuevo espacio
{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/espacio/editar.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>
                {% if object %} Editar {% else %} Nuevo {% endif %} espacio de trabajo
            </header>
            <div class="tools">
                <a type="button" class="btn btn-default" href="{% if object %}{% url 'proyecto:proyecto_detalle' proyecto.id %}{% else %}{% url 'proyecto:proyecto_lista'%}{% endif %}">
                    <i class="fa fa-arrow-left "></i> Regresar
                </a>
            </div>
        </div>
        <div class="card-body ">
            {% block formulario %}

                {% if form.helper %}
                    {% crispy form %}
                {% else %}
                    <form method="post" class="auto-validate" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </form>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
