{% extends 'base.html' %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}

{% block css %}
    {% include "pugins/datatable/css.html" %}
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                {% include 'proyecto/card_detalle.html' %}
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
        </div>
    </div>
{% endblock contenido %}


{% block js %}
    <script src="{% static 'js/espacio/detalle.js' %}?v=1.0"></script>
{% endblock %}
