{% extends "base.html" %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}

{% block css %}
    {% include "pugins/datatable/css.html" %}
{% endblock %}

{% block contenido %}

    <div class="card card-outline card-primary">
        <!-- /.card-header -->
        <div class="card-header">
            <h3 class="card-title">
                Tabla de resultados
            </h3>
            <div class="card-tools">
                {% if perms.proyecto.add_proyecto %}
                    <a class="btn btn-tool btn-primary" href="{% url 'proyecto:proyecto_crear' %}">
                        <i class="fas fa-plus"></i> Nuevo
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <div class="row mb-2">
                <div class="form-inline col-md-6">
                    <label>Estado:</label>
                    <select id="filtro_activo" class="form-control form-control-sm">
                        <option value="">--Todos--</option>
                        <option value="True">SI</option>
                        <option value="False">NO</option>
                    </select>
                </div>
            </div>

            <table id="lista" class="lista table stripe hover dataTable">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Creado por</th>
                    <th>Creado el</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block js %}
    {% include "pugins/datatable/js.html" %}

    <script type="text/javascript">
        var url_editar = "{% url 'proyecto:proyecto_detalle' 0 %}";
        var url_activar = "{% url 'proyecto:proyecto_activar' 0 %}";
        var url_desactivar = "{% url 'proyecto:proyecto_desactivar' 0 %}";
    </script>

    <script src="{% static 'js/proyecto/lista.js' %}?v=1.1"></script>
{% endblock %}