{% extends "base.html" %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}

{% block css %}
    {% include "pugins/datatable/css.html" %}
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ total }}</h3>
                    <p>Total de peticiones</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#lista" class="small-box-footer">Más información en la tabla  <i class="fas fa-arrow-circle-down"></i></a>
            </div>

        </div>

        <div class="col-lg-3 col-6" title="Últimos 30 minutos">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ total_pc }}<sup style="font-size: 18px"></sup></h3>

                    <p>Peticiones pc</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#lista" class="small-box-footer">Más información en la tabla <i class="fas fa-arrow-circle-down"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ total_mobile }}</h3>

                    <p>Peticiones mobile</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#lista" class="small-box-footer">Más información en la tabla <i class="fas fa-arrow-circle-down"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{ total_tablet }}</h3>
                    <p>Peticiones tablet</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#lista" class="small-box-footer">Más información en la tabla <i class="fas fa-arrow-circle-down"></i></a>
            </div>
        </div>

    </div>

    <div class="card card-outline card-primary">
        <!-- /.card-header -->
        <div class="card-header">
            <h3 class="card-title">
                Tabla de resultados
            </h3>
            <div class="card-tools">

            </div>
        </div>

        <div class="card-body">
            <div class="row mb-2">
                <div class="form-inline col-md-6">

                </div>
            </div>

            <table id="lista" class="lista table stripe hover dataTable" data-url="{% url 'seguridad:dashboard_logs_paginator' %}">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Ip</th>
                    <th>Detalle</th>
                    <th>Tipo</th>
                    <th>Navegador</th>
                    <th>Sistema</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block js %}
    {% include "pugins/datatable/js.html" %}

    <script type="text/javascript">
    </script>

    <script src="{% static 'js/dashboard/logs.js' %}?v=1.1"></script>
{% endblock %}