{% extends "base_landscape.html" %}
{% load static %}

{% block estilos-primer-nivel %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/iniciar_sesion.css' %}">
{% endblock %}

{% block contenido %}

    <div class="section-bg h-100">
        <header id="header" class="fixed-top header-tipo-usuario ">
            <div class="container d-flex align-items-center">
                <a href="#" class="logo mr-auto"><img src="{% static 'img/logo-white.png' %}"
                                                      alt="Universidad Nacional de Loja" class="img-fluid"></a>

                <a href="" class="back-button scrollto">Volver al Inicio</a>
            </div>
        </header>

        <section>
            <div class="container h-100 test">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="mt-xl-5 login-container">
                        <div class="card login-card shadow">
                            <div class="card-header text-center">
                                <h4 class="login-title">Iniciar Sesión - Usuario externo </h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    {% for msg in messages %}
                                        <div class="alert alert-{{ msg.level_tag }}" role="alert">
                                            {{ msg.message }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <form action="{% block action %}{% endblock %}"
                                      method="POST"
                                      role="form">
                                    {% csrf_token %}

                                    <!-- Correo electrónico -->
                                    <div class="form-group">
                                        <label for="{{ formulario.username.id_for_label }}">Correo electrónico:</label>
                                        <input type="email"
                                               class="form-control"
                                               id="{{ formulario.username.id_for_label }}"
                                               name="{{ formulario.username.name }}"
                                               required="required"
                                               aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">Asegúrese de ingresar el
                                            correo electrónico.</small>
                                    </div>
                                    <!-- Contraseña -->
                                    <div class="form-group">
                                        <label for="{{ formulario.password.id_for_label }}">Contraseña:</label>
                                        <input type="password"
                                               class="form-control"
                                               id="{{ formulario.password.id_for_label }}"
                                               name="{{ formulario.password.name }}"
                                               required="required">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn login-button">
                                            <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Ingresar
                                        </button>
                                    </div>

                                </form>

                            </div>
                            <div class="card-footer text-muted text-center">
                                Módulo de Control de Asistencia
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
