{% extends 'principal_layout.html' %}
{% load staticfiles %}

{% block estilos-primer-nivel %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <link href="{% static 'plugins/alertifyjs/css/alertify.min.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenido %}
    <div class="section-bg h-100">
        <header id="header" class="fixed-top header-tipo-usuario ">
            <div class="container d-flex align-items-center">
                <a href="#" class="logo mr-auto"><img src="{% static 'img/logo-white.png' %}"
                                                      alt="Universidad Nacional de Loja" class="img-fluid"></a>

                <a href="{% url 'index' %}" class="back-button scrollto">Volver al Inicio</a>
            </div>
        </header>

        <section>
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="mt-xl-5 iniciar-sesion-solicitante-container">
                        <div class="card shadow login-solicitante-card">
                            <div class="card-header text-center">
                                <h4 class="login-solicitante-title">Iniciar Sesión - Solicitante </h4>
                            </div>
                            <div class="card-body">
                                <div id="errores">

                                </div>
                                <form autocomplete="off"
                                      id="form_login_solicitante"
                                      action="{% url 'seguridad:inicio_sesion_solicitante' %}"
                                      method="POST"
                                      name="form">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_correo_electronico">Correo electrónico:</label>

                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Ingrese su correo electrónico"
                                                   aria-label="Recipient's username"
                                                   id="id_correo_electronico"
                                                   name="correo_electronico"
                                                   aria-describedby="btnEnviarToken">

                                            <div class="input-group-append">
                                                <button class="btn codigo-botones" id="btnEnviarToken" type="button"
                                                        disabled>
                                                    Solicitar Código de Verificación
                                                </button>
                                            </div>
                                        </div>
                                        <small class="w-100">El código de verificacicón será enviado al correo
                                            electrónico ingresado.</small>
                                        <br>
                                        <small class="w-100 d-none" id="m-error">Error al intentar iniciar sesión.</small>
                                    </div>

                                    <div class="form-group">
                                        <div class="alert alert-info alert-dismissible fade show"
                                             id='mensaje_correo'
                                             style="display: none">
                                            <i class="fa fa-info"></i> <strong>El Código de verificación</strong> ha sido generado correctamente y enviado a su correo electrónico. Por favor revise su
                                            correo electrónico y escríbalo en el siguiente campo.
                                            <button type="button" class="close" data-dismiss="alert">&times;
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_token">Código de
                                            verificación:</label>

                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Ingrese el código de verificación"
                                                   aria-label="Recipient's username"
                                                   id="id_token"
                                                   name="token"
                                                   aria-describedby="btnValidarToken">

                                            <div class="input-group-append">
                                                <button class="btn codigo-botones" id="btnValidarToken" type="button"
                                                        disabled>
                                                    Verificar código
                                                </button>
                                            </div>
                                        </div>
                                        <small class="w-100">Ingrese el código de verificación que se envió al correo
                                            electrónico.</small>
                                        <br>
                                        <small class="w-100 d-none" id="t-error">El cóigo de verificación es incorrecto.</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="alert alert-info alert-dismissible fade show"
                                             id='mensaje_verifica_token'
                                             style="display: none">
                                            <strong>Información!</strong> Código verificado correctamente.
                                            <button type="button" class="close" data-dismiss="alert">&times;
                                            </button>
                                        </div>
                                    </div>
                                    <!--
                                    <hr>
                                    <h5>Preguntas de Seguridad:</h5>
                                    <div class="form-group">
                                        <label for="{{ form.fecha_nacimiento.id_for_label }}">
                                            ¿Cuál es su fecha de nacimiento? <small>Ejemplo: 31/12/1986</small>
                                        </label>
                                        <input class="form-control"
                                               type="text"
                                               id="{{ form.fecha_nacimiento.id_for_label }}"
                                               name="{{ form.fecha_nacimiento.name }}"
                                               placeholder="Fecha de nacimiento"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.profesion.id_for_label }}">
                                            ¿Cuál es su profesión?
                                        </label>
                                        <input class="form-control"
                                               type="text"
                                               id="{{ form.profesion.id_for_label }}"
                                               name="{{ form.profesion.name }}"
                                               placeholder="Profesion"/>
                                    </div>
                                    -->

                                    <div class="text-center">
                                        <button type="button" onclick="login_solicitante()"
                                                class="btn login-solicitante-button" id="btnLogin">
                                            <i class="fa fa-sign-in  mr-2" aria-hidden="true"></i>
                                            Ingresar
                                        </button>
                                    </div>

                                </form>
                            </div>
                            <div class="card-footer text-muted text-center">
                                Módulo de Gestión de Trámites
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="container mt-lg-5">#}
            {#                <div class="row">#}
            {#                    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">#}
            {#                        <div class="row">#}
            {#                            <div class="col-lg-6 col-md-8 mx-auto">#}
            {#                                <!-- form card login -->#}
            {#                                <div class="card rounded shadow shadow-sm">#}
            {#                                    <div class="card-header">#}
            {#                                        <h3 class="mb-0">Ingresar como solicitante</h3>#}
            {#                                    </div>#}
            {#                                    <div class="card-body">#}
            {#                                        <div id="errores">#}
            {##}
            {#                                        </div>#}
            {#                                        <form class="form" role="form" autocomplete="off" id="form_login_solicitante"#}
            {#                                              name="form" novalidate="" method="POST">#}
            {#                                            {% csrf_token %}#}
            {#                                            <div class="form-group">#}
            {#                                    <label for="uname1">Correo Electrónico</label>#}
            {#                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">#}
            {#                                                <input class="form-control"#}
            {#                                                       type="text"#}
            {#                                                       id="{{ form.correo_electronico.id_for_label }}"#}
            {#                                                       name="{{ form.correo_electronico.name }}"#}
            {#                                                       placeholder="Correo Electrónico"/>#}
            {#                                                <span class="focus-input100" data-placeholder="&#xf007"></span>#}
            {#                                                <div class="invalid-feedback">Oops, you missed this one.</div>#}
            {#                                            </div>#}
            {#                                            <div class="form-group">#}
            {#                                                <button class="btn btn-info" id="btnEnviarToken" type="button" disabled>#}
            {#                                                    Solicitar código de verificación#}
            {#                                                </button>#}
            {#                                            </div>#}
            {#                                            <div class="form-group">#}
            {#                                                <div class="alert alert-info alert-dismissible fade show"#}
            {#                                                     id='mensaje_token'#}
            {#                                                     style="display: none">#}
            {#                                                    <strong>Info!</strong> Token generado correctamente, revise su#}
            {#                                                    correo#}
            {#                                                    electrónico .#}
            {#                                                    <button type="button" class="close" data-dismiss="alert">&times;#}
            {#                                                    </button>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {#                                            <div class="form-group">#}
            {#                                    <label>Password</label>#}
            {#                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">#}
            {#                                                <input class="form-control"#}
            {#                                                       type="text"#}
            {#                                                       id="{{ form.token.id_for_label }}"#}
            {#                                                       name="{{ form.token.name }}"#}
            {#                                                       placeholder="Código de verificación"/>#}
            {#                                                <span class="focus-input100" data-placeholder="&#xf007"></span>#}
            {#                                                <div class="invalid-feedback">Enter your password too!</div>#}
            {#                                            </div>#}
            {#                                            <div class="form-group">#}
            {#                                                <button class="btn btn-info" type="button" id="btnValidarToken"#}
            {#                                                        disabled>#}
            {#                                                    Verificar#}
            {#                                                </button>#}
            {#                                            </div>#}
            {#                                            <hr>#}
            {#                                            <h5><strong>Preguntas de seguridad:</strong></h5>#}
            {#                                            <div class="form-group">#}
            {#                                                <label for="{{ form.fecha_nacimiento.id_for_label }}"><strong>¿Cuál es#}
            {#                                                    su fecha#}
            {#                                                    de nacimiento?</strong></label>#}
            {#                                                <input class="form-control"#}
            {#                                                       type="text"#}
            {#                                                       id="{{ form.fecha_nacimiento.id_for_label }}"#}
            {#                                                       name="{{ form.fecha_nacimiento.name }}"#}
            {#                                                       placeholder="Fecha de nacimiento"/>#}
            {#                                                <span class="focus-input100" data-placeholder="&#xf007"></span>#}
            {#                                            </div>#}
            {#                                            <div class="form-group">#}
            {#                                                <label for="{{ form.profesion.id_for_label }}"><strong>¿Cuál es su#}
            {#                                                    profesión?</strong></label>#}
            {#                                                <input class="form-control"#}
            {#                                                       type="text"#}
            {#                                                       id="{{ form.profesion.id_for_label }}"#}
            {#                                                       name="{{ form.profesion.name }}"#}
            {#                                                       placeholder="Profesion"/>#}
            {#                                                <span class="focus-input100" data-placeholder="&#xf007"></span>#}
            {#                                            </div>#}
            {#                                <div>#}
            {#                                    <label class="custom-control custom-checkbox">#}
            {#                                      <input type="checkbox" class="custom-control-input">#}
            {#                                      <span class="custom-control-indicator"></span>#}
            {#                                      <span class="custom-control-description small text-dark">Remember me on this computer</span>#}
            {#                                    </label>#}
            {#                                </div>#}
            {#                                            <button type="button" onclick="login_solicitante()"#}
            {#                                                    class="btn btn-success btn-lg float-right" id="btnLogin">Ingresar#}
            {#                                            </button>#}
            {#                                        </form>#}
            {#                                    </div>#}
            {#                                    <!--/card-block-->#}
            {#                                </div>#}
            {#                                <!-- /form card login -->#}
            {##}
            {#                            </div>#}
            {##}
            {##}
            {#                        </div>#}
            {#                        <!--/row-->#}
            {##}
            {#                    </div>#}
            {#                    <!--/col-->#}
            {#                </div>#}
            {#                <!--/row-->#}
            {#            </div>#}
        </section>
    </div>




    <!--/container-->

    {#<div class="limiter">#}
    {#    <center>#}
    {#        <br/>#}
    {#        <h4 class="p-b-34 text-white">{% system_name %} ({% system_name_acr %})</h4>#}
    {#    </center>#}
    {#    <br/>#}
    {#    <div class="container-login100">#}
    {#        <div class="vertical-align">#}
    {#            <div>#}
    {#                {% for msg in messages %}#}
    {#                    <div class="alert alert-{{ msg.level_tag }}" role="alert">#}
    {#                        {{ msg.message }}#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#            <div class="wrap-login100">#}
    {#                <form class="login100-form"#}
    {#                      id="form_login_solicitante"#}
    {#                      name="form"#}
    {#                      action="{% block action %}{% endblock %}"#}
    {#                      method="POST"#}
    {#                      role="form">#}
    {#                    {% csrf_token %}#}
    {#                    <span class="login100-form-logo-noclass">#}
    {#                        <center>#}
    {#                            <img alt="unl" src="{% static 'img/logo.png' %}" width="280">#}
    {#                        </center>#}
    {#                    </span>#}
    {#                    <span class="login100-form-title p-b-34 p-t-27"#}
    {#                          title="Sistema de Información Académico Administrativo Financiero">#}
    {#						Ingresar - Consulta del Estado del Trámite#}
    {#					</span>#}
    {#                    <div id="errores">#}
    {##}
    {#                    </div>#}
    {#                    <div class="wrap-input100" data-validate="Correo electronico">#}
    {#                        <input class="form-control"#}
    {#                               type="text"#}
    {#                               id="{{ form.correo_electronico.id_for_label }}"#}
    {#                               name="{{ form.correo_electronico.name }}"#}
    {#                               placeholder="Correo Electrónico"/>#}
    {#                        <span class="focus-input100" data-placeholder="&#xf007"></span>#}
    {#                    </div>#}
    {#                    <div class="btn-group">#}
    {#                        <button class="btn btn-info" id="btnEnviarToken" type="button" disabled>Solicitar código de verificación</button>#}
    {#                    </div>#}
    {#                    <div class="alert alert-info alert-dismissible fade show" id='mensaje_token' style="display: none">#}
    {#                        <strong>Info!</strong> Token generado correctamente, revise su correo electrónico .#}
    {#                        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
    {#                    </div>#}
    {#                    <hr>#}
    {#                    <div class="wrap-input100">#}
    {#                        <input class="input100"#}
    {#                               type="text"#}
    {#                               id="{{ form.token.id_for_label }}"#}
    {#                               name="{{ form.token.name }}"#}
    {#                               placeholder="Código de verificación"#}
    {#                               />#}
    {#                        <span class="focus-input100" data-placeholder="&#xf007"></span>#}
    {#                    </div>#}
    {#                    <div class="btn-group">#}
    {#                        <button class="btn btn-info" type="button" id="btnValidarToken" disabled>Verificar</button>#}
    {#                    </div>#}
    {#                    <hr>#}
    {#                    <div class="wrap-input100 validate-input">#}
    {#                        <input class="input100"#}
    {#                               type="text"#}
    {#                               id="{{ form.fecha_nacimiento.id_for_label }}"#}
    {#                               name="{{ form.fecha_nacimiento.name }}"#}
    {#                               placeholder="Fecha de nacimiento"#}
    {#                               />#}
    {#                        <span class="focus-input100" data-placeholder="&#xf007"></span>#}
    {#                    </div>#}
    {#                    <div class="wrap-input100">#}
    {#                        <input class="input100"#}
    {#                               type="text"#}
    {#                               id="{{ form.profesion.id_for_label }}"#}
    {#                               name="{{ form.profesion.name }}"#}
    {#                               placeholder="Profesion"#}
    {#                               />#}
    {#                        <span class="focus-input100" data-placeholder="&#xf007"></span>#}
    {##}
    {#                    </div>#}
    {#                    <div class="container-login100-form-btn">#}
    {#                        <button type="button" onclick="login_solicitante()" class="login100-form-btn">Ingresar</button>#}
    {#                    </div>#}
    {#                </form>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}

    <script>
        var url_enviar_token = "{% url 'seguridad:enviar_token' %}"
        var url_verificar_token = "{% url 'seguridad:verificar_token' %}"
        var url_proceso_lista = "{% url 'tramite:proceso_lista_estado' 5 %}"
        {#var url_registro_solicitante = "{% url 'registro_solicitante' %}"#}
    </script>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/solicitante.js' %}?v=1.1"></script>
    <!-- notifications -->
    <script src="{% static 'plugins/alertifyjs/alertify.min.js' %}"></script>
    <script src="{% static 'js/js_cookie.js' %}"></script>
    <script type="text/javascript">
        var BSG_API_URL = '{{ BSG_API_URL }}';
    </script>

{% endblock contenido %}
{#</body>#}
{#</html>#}