{% extends "principal_layout.html" %}
{% load static %}

{% block contenido %}
    <div class="section-bg h-100">
        <header id="header" class="fixed-top header-tipo-usuario ">
            <div class="container d-flex align-items-center">
                <a href="#" class="logo mr-auto"><img src="{% static 'img/logo-white.png' %}"
                                                      alt="Universidad Nacional de Loja" class="img-fluid"></a>

                <a href="{% url 'index' %}" class="back-button scrollto">Volver al Inicio</a>
            </div>
        </header>

        <section>
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="card tipo-usuario-card">
                        <div class="card-header text-center">
                            <h3>Seleccione el tipo de usuario</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-1">
                                    <div class="card">
                                        <img class="card-img-top card-img-tipo-usuario" src="{% static 'img/banner_seccion_4.png' %}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title"> Usuario Institucional </h5>
                                            <p class="card-text text-justify">Acceso para estudiantes y funcionarios usando las credenciales del Servicio de Autenticación Centralizada (SAC), es decir el mismo usuario y contraseña del SGA o SIAAF.</p>
                                        </div>
                                        <div class="text-center mb-4">

                                            <a href="{% url 'seguridad:cas_ng_login' %}?next=/" class="boton-ingresar-usuario"><i class="fa fa-university mr-2" style="color: white"></i>Ingresar como usuario institucional</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mt-1">
                                    <div class="card">
                                        <img class="card-img-top card-img-tipo-usuario" src="{% static 'img/banner_seccion_3.png' %}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Solicitante</h5>
                                            <p class="card-text text-justify">Acceso para estudiantes (opcional), funcionarios (opcional) y externos a través de un código de verificación enviado al correo electrónico previamente registrado en éste sitio.</p>
                                        </div>
                                        <div class="text-center mb-4">
                                            <a href="{% url 'seguridad:inicio_sesion_solicitante' %}" class="boton-ingresar-usuario"><i class="fa fa-user mr-2"></i>Ingresar como solicitante</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

