<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description" content="{% system_name %}"/>
    <meta name="author" content="UNL"/>
    <title>{% system_alias %} - {% block titulo %}Inicio{% endblock %}</title>
    <!-- icons -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- bootstrap -->
<!--
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
-->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

    <link href="{% static 'css/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link href="{% static 'plugins/arsha/css/style.css' %}" rel="stylesheet">
    <style type="text/css">
        .background-hero {
          background: rgba(15, 24, 41, 0.88);

        }
    </style>

    {% block estilos-primer-nivel %}    {% endblock estilos-primer-nivel %}

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>

<body>
<div class="content">
    {% block contenido %} {% endblock %}
</div>

{#{% include 'principal_footer.html' %}#}
<a href="#" class="back-to-top">
    <i class="fa fa-hand-o-up" aria-hidden="true"></i>
</a>


<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/arsha/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'plugins/arsha/vendor/aos/aos.js' %}"></script>
<script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script src="{% static 'plugins/arsha/js/main.js' %}"></script>
</body>

</html>