{% extends "base.html" %}

{% load static %}

{% block contenido %}

    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <a href="#" class="logo mr-auto"><img src="{% static 'img/logo-white.png' %}"
                                                  alt="Universidad Nacional de Loja" class="img-fluid"></a>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Inicio</a></li>
                </ul>
            </nav>

            <a href="{% url 'seguridad:iniciar_sesion' %}?next={{ request.get_full_path }}" class="get-started-btn scrollto">Acceder al Sistema</a>
        </div>
    </header>


    <section id="hero"
             style="background-image: url({% static 'img/unl.jpg' %}); box-shadow: inset 0 100px 50px 4px rgb(0 0 0 / 40%)"
             class="d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="background-hero">
                <h1>{% system_name %}</h1>
                <h2>Bienvenidos .....</h2>
                <div class="buttons-hero d-flex justify-content-center">
                    <a href="{% url 'seguridad:iniciar_sesion' %}?next={{ request.get_full_path }}" class="btn-get-started scrollto">Usuario institucional</a>
                    <a href="{% url 'seguridad:iniciar_sesion' %}?next={{ request.get_full_path }}" class="btn-get-started scrollto">Usuario externo</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}