{% extends 'shared/detalle.html' %}
{% load static %}

{% block css %}
    {% include "pugins/datatable/css.html" %}
{% endblock %}

{% block contenido %}
{% if perms.proyecto.view_cicloprueba %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Administrar ciclos de prueba</h3>
        <div class="card-tools">
            {% if perms.proyecto.add_cicloprueba %}
            <a href="{% url 'proyecto:cicloprueba_crear' proyecto.id %}" class="btn btn-primary">
                <i class="fas fa-users"></i> Nuevo
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label>Activo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <select id="filtro_ciclo_activo" class="form-control form-control-sm" style="width: 200px">
                        <option value="">--Todos--</option>
                        <option value="True">SI</option>
                        <option value="False">NO</option>
                    </select>
                </div>
            </div>
        </div>
        <table id="dt-ciclos" class="table" data-id="{{ proyecto.id }}"
               data-url="{% url 'proyecto:cicloprueba_lista' proyecto.id %}"
               data-url_detalle="{% url 'proyecto:cicloprueba_editar' 0 %}"
        >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <p>No tiene permisos</p>
{% endif %}
{% endblock %}

{% block js %}
    {% include 'pugins/datatable/js.html' %}
    <script src="{% static 'js/cicloprueba/lista.js' %}?v=1.0"></script>
{% endblock %}