{% extends 'shared/detalle.html' %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}

{% block css %}
    {% include "pugins/datatable/css.html" %}
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Casos de prueba a ejecutar</h3>
                </div>
                <div class="card-body">
                    <table id="dt-ejecucion" class="table" data-id="{{ proyecto.id }}" data-ciclo_id="{{ cicloprueba.id }}"
                       data-url="{% url 'proyecto:cicloprueba_ejecutar' proyecto.id %}"
                       data-url_ejecutar="{% url 'proyecto:cicloprueba_ejecutar_caso' 0 %}"
                        >
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Comentario</th>
                            <th>Evidencia</th>
                            <th>Actualización</th>
                            <th>Actualizado por</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->

            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Casos de prueba disponibles</h3>
                </div>
                <div class="card-body">
                <table id="dt-casos" class="table" data-id="{{ proyecto.id }}" data-ciclo_id="{{ cicloprueba.id }}"
                       data-url="{% url 'proyecto:casoprueba_lista' proyecto.id %}"
                       data-url_agregar="{% url 'proyecto:cicloprueba_agregar_caso' 0 0 %}">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
        </div>
    </div>


    <!-- Previsualizar imagen en modal -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Evidencia</h4>
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 760px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}
    {% include 'pugins/datatable/js.html' %}
    <script src="{% static 'js/ejecucionprueba/lista.js' %}?v=1.0"></script>
{% endblock %}
